<form #f="ngForm" (ngSubmit)="addData(f)">
  <input placeholder="Name" type="text" name="name" ngModel>
  <br>
  <input placeholder="Email" type="email" name="email" ngModel>
  <br>
  <input placeholder="Password" type="password"  name="password" ngModel>
  <br>
  <button type="submit"> Save Data </button>
</form>
<br>
<br><br>


<ul>
  <li *ngFor="let data of userData | async">
    {{data.name}} / {{data.email}}
    <button (click)="updateData(data.id)"> Edit </button> &nbsp;
    <button (click)="deleteData(data.id)"> Delete </button>
  </li>
</ul>


